@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  background-color: #2b2427;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

input[type=submit]{
  text-decoration: none;
  background-color: #FF5E5E;
  color: white;
  padding: 10px;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 15px 10px 15px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 400;
}

input[type=text]{
  text-decoration: none;
  background-color: #1e191b;
  padding: 10px 15px 10px 15px;
  border-radius: 50px 0px 0px 50px;
  color: white;
  font-size: 25px;
}

img{
  width: 483px;
}
